nav {
  width: 100vw;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav-right,
.nav-left {
  display: flex;
}

.nav-right,
.nav-left {
  width: 100%;
  height: 100%;
}

.nav-left {
  border-bottom: none;
  position: relative;
}

.nav-left-links {
  position: absolute;
  top: 50%;
  z-index: 1000;
  right: 70px;
  background-color: azure;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.nav-left-links li {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

ul li div:hover {
  color: #232323;
}

.link-down-icon {
  margin-top: 1rem;
}

.nav-logo {
  position: relative;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.nav-menu-icon {
  font-size: 1.75rem;
  color: grey;
}

.nav-logo-img img {
  width: 9rem;
  height: 1.5rem;
}

.nav-dropdown {
  display: none;
  position: absolute;
  background-color: transparent;
  width: 50vw;
  top: 3rem;
  left: -7rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.nav-dropdown-content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-dropdown-content {
  width: 100%;
}

.nav-dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-size: 1rem;
  text-decoration: none;
  display: block;
}

.nav-dropdown-content a:hover {
  background-color: #ddd;
}

.nav-dropdown-heading {
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem;
}

.nav-shop-link:hover .nav-dropdown {
  display: block;
}

.nav-pages-link:hover .nav-dropdown {
  display: block;
}

.nav-pages-link .nav-dropdown {
  width: 10rem;
  left: 0;
}

/* --------------Navbar Right-------------------- */

.nav-right {
  justify-content: space-between;
  padding: 0 2rem;
}

.nav-right li {
  font-size: 1.75rem;
  padding: 0.5rem;
}

.nav-right li a:hover {
  color: #232323;
}
.nav-right li:nth-child(1) {
  border-left: none;
}

.nav-cart-logo-container {
  position: relative;
}

.cart-item-count {
  position: absolute;
  top: -10px;
  right: -13px;
  color: #232323;
  font-size: 1rem;
}

.nav-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-search-icon {
  font-size: 1rem;
  text-align: center;
}

.nav-search-input {
  width: 70%;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0.5rem;
  padding: 0.5rem;
  transition: 1s ease-in-out;
}

.nav-search-input:focus {
  width: 100%;
}

.nav-search-input:focus {
  outline: none;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}

.login-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  color: #f6463d;
  cursor: pointer;
  text-decoration: underline;
}

.login-info:hover {
  background-color: #232323;
}

.login-info h5 {
  font-size: 1.2rem;
}
.nav-left-links-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  nav {
    height: 5rem;
    flex-direction: row;
    padding: 0 1.5rem;
  }

  .nav-left {
    width: 20rem;
    height: 100%;
    border: none;
    align-items: center;
  }

  .nav-right {
    width: 25rem;
    height: 100%;
    border: none;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-search-input {
    font-size: 1.1rem;
    padding: 0.5rem;
  }

  .nav-right li {
    text-align: center;
  }

  .cart-item-count {
    right: -22px;
    font-weight: 600;
    font-size: 1.15rem;
  }

  .nav-pages-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 991px) {
  .nav-logo-img img {
    width: 11rem;
    height: 2rem;
  }
  .nav-left-links {
    display: block;
  }

  .nav-menu-icon {
    display: none;
  }

  .nav-left {
    width: 45%;
  }

  .nav-logo-img {
    padding: 0;
  }

  .nav-left-links-desktop {
    position: static;
    width: 250%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0.27rem;
    gap: 2.5rem;
    background-color: transparent;
  }

  .nav-left-links-desktop li {
    color: #787878;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .nav-left-links-desktop li:hover,
  .nav-shop-link a:hover,
  .nav-contact a:hover {
    color: #232323;
  }

  .cart-item-count {
    top: -15px;
    right: -17px;
    font-weight: 500;
    font-size: 1.2rem;
    color: blueviolet;
  }
}
